# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
yarn.lock

examples/config.js
coverage.html
.nyc_output

.DS_Store
